<!--
这是用于集成 Disqus 评论系统 到你的网站中的 HTML 代码片段。

如果你在某个页面中包含这个文件，比如：
那么在该页面底部就会显示一个评论框，访客可以留言、点赞、回复（类似博客下面的评论区）。
-->
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };

  (function() {
    var d = document, s = d.createElement('script');

    s.src = 'https://{{ site.disqus }}.disqus.com/embed.js';

    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
