<!--这是你网站首页顶部的 导航栏模板，专门用在首页（Home）上，显示“About Me”、“Blog Posts”、“Skills”等链接。-->
<!--
<div class="home-header pure-menu pure-menu-horizontal">
  <div class="home-header-bar">
    <ul class="home-header-menu pure-menu-list">
      
      <li class="pure-menu-item">
        <a href="#about-me" class="pure-menu-link">About Me</a>
      </li>
      
      {% for post in site.posts %}
      <li class="pure-menu-item">
        <a href="{{ post.url | relative_url }}" class="pure-menu-link {% if page.url == post.url %}current-item{% endif %}">{{ post.title }}</a>
      </li>
      {% endfor %}
      
      <li class="pure-menu-item">
        <a href="#skills" class="pure-menu-link">Skills</a>
      </li>
    </ul>
  </div>
</div>
-->