---
layout: default
---
{% include home-header.html %}
<div class="about-me" id="about-me" style="margin-bottom: 40px;">
    <h2>About Me</h2>
    <p>
      I am a postgraduate student in Robotics at the University of Manchester, 
      where I have developed a strong mathematical foundation throughout my academic journey. 
      My studies have provided me with a fundamental understanding of machine learning and deep learning, 
      and I have conducted extensive research on robotic systems during my postgraduate program. 
      I am particularly passionate about visual recognition and aspire to further my research in this area.
    </p>

    <h3>Education</h3>
    <ul>
      <li><strong>MSc in Robotics</strong>, University of Manchester</li>
      <li><strong>BEng in Intelligent Science and Technology</strong>, China University of Geosciences (Wuhan)</li>
    </ul>
</div>





<!-- Daily Quote Section -->
<div class="daily-quote" style="position: absolute; right: 20px; top: 20px; width: 300px; background-color: #f9f9f9; border: 1px solid #ddd; padding: 10px; border-radius: 5px;">
  <h3>Daily Quote</h3>
  <blockquote>
      <p id="quote">"The only way to do great work is to love what you do." - Steve Jobs</p>
  </blockquote>
</div>

